<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="user_firstName"> Enter firstname: </label>
    <%= form.text_field :firstName, id: :user_firstName %>
  </div>

  <div class="field">
    <label for="user_lastName"> Enter flastname: </label>
    <%= form.text_field :lastName, id: :user_lastName %>
  </div>

  <div class="field">
    <label for="user_mail"> Enter email: </label>
    <%= form.text_field :mail, id: :user_mail%>
  </div>

  <div class="field">
    <label for="user_city"> Enter city: </label>
    <%= form.text_field :city, id: :user_city %>
  </div>

  <div class="field">
    <label for="user_age"> Enter age: </label>
    <%= form.number_field :age, id: :user_age %>
  </div>

  <div class="field">
    <label for="user_pass"> Enter password: </label>
    <%= form.password_field :pass, id: :user_pass %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
